@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}



header{
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    
}

.logo{
    flex: 20%;
    text-align: left;
    margin-left: 10%;
}

.logo h1{
    font-size: 2em;
    color: #180f4a;
    font-family: 'Lobster', cursive;
}

.menu{

    flex: 70%;
    text-align: right;
    margin-right: 10%;  
}

a{
    text-decoration: none;
}

.menu a{

    margin: 20px 5px;
    text-decoration: none;
    color: #180f4a; 
    font-size: 1.2em;
    padding: 15px;
    font-weight: bold;

}

.menu a:hover{

    color: white;
    background-color: #ff2978;
    transition-duration: 0.5s;
    border-radius: 5px;

}

.menuBurger{
    
    display: none;
    margin-right: 10%;

}

.menuBurger:hover{

    cursor: pointer;

}


.espacoMenu{

    display: none;
    background-color: silver;
    width: 15%;

}

#faleconosco{

    background-color: #180f4a;
    padding: 15px;
    border-radius: 5px;
    color: white;

}

.chamarAtencaoUsuario{

    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
 
}

#h2ComEspaçamentoDeLetra{

    letter-spacing: 5px;
}

#h2ComTamanhoDeFonte{

    font-size: 60px;
}

#pComAlinhamentoJustificadoECorCinza{

    color: gray; 
    text-align: justify;
}

.texto{

    margin-left: 10%;
    flex: 40%;
  

}

.imagem{

    margin-right: 10%;
    flex: 40%;
    text-align: center;

}

img{
    width: 90%;
}

h2{
    color: #180f4a;
    margin: 0%;
    padding: 0%;
}

.botaoDeContrato{

    text-decoration: none;
    color: white;
    background-color: #ff2978;
    padding: 15px;
    display: inline-block;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;

}

.botaoDeContrato:hover{

    background-color: #180f4a;
    transition-duration: 0.5s;
}

.servicos{

    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.servicos h2{

    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    margin: 5%;
}

.card{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 370px;
    margin: 1%;
    padding: 2%;
    border: 1px solid #ff2978;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.250);

}

.organizacaoDosCards{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h3{

    color: #ff2978;
    text-align: center;
    width: auto;

}

.card p{

    color: grey;
    text-align: justify;

}


.textoExposto img{

    width: 35%;
    height: 35%;
}

.textoExposto{

    text-align: center;

}

.textoOculto{

    display: none;

}

.card:hover .textoExposto{

    display: none;

}

.card:hover .textoOculto{

    display: flex;
    flex-direction: column;

}

.card:hover{

    background-color: #ff2978;
    transition-duration: 0.5s;
}

.card:hover p, .card:hover h3{

    color: white;
}

footer{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 200px;
    padding: 5%;
    background-image: linear-gradient(to top, #180f4a, #090422);
    color: white;
    border-top: 5px solid #ff2978;

}

footer h1{

    font-family: 'Lobster', cursive;    
    font-size: 50px;

}

footer a{

    color: white;

}

footer a:hover{

    text-decoration: dashed;
    color: gray;

}

footer img{

  width: 80px;
  height: 160px;
  position: fixed;
  right: 0%;
  bottom: 0%;

}

@media (max-width: 1250px){

    .menu{

        display: none;

    }

    #faleconosco{

        margin: 20px 5px;
        text-decoration: none;
        color: #180f4a; 
        padding: 15px;
        background-color: white;

    }

    .menuBurger{

        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40px;
        height: 40px;
       
        background-color: white;
    }

    .menuBurger:hover{

        display: flex
    }

    .itensMenuBurger{

        display: none;
    
    }
    
    .itensMenuBurger:hover{
    
        display: flex;
        flex-direction: column;
    
    }

    .espaçoInterno1, .espaçoInterno2, .espaçoInterno3{

        display: flex;
        padding: 2px;
        margin-top: -12px;
        background-color: #180f4a;

    }

    .chamarAtencaoUsuario, .organizacaoDosCards{

        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
      
    }

    .texto{

        margin-left: 0%;

    }

    .servicos{

        margin-left: 0;
        margin-right: 0;
        margin: auto;

    }

    .logo, h1, h2, h3, .imagem{

        text-align: center;
    }

    .chamarAtencaoUsuario .texto{

        width: 400px;
        margin-left: 10%;

    }

    footer img{

        display: none;

    }
}